@namespace Oqtane.LicensedModule
@using Oqtane.Licensing
@inherits ModuleBase

<LicenseView PackageName="@ModuleState.ModuleDefinition.PackageName">
    <Licensed>
        <p>I am Licensed!</p>
    </Licensed>
</LicenseView>
